*.o
*.lo
*.la
lib
lib2
bin
*.swp
*.pc
ws/ws
swift/ws
swift/eventws
libevent2/.deps
libevent2/.libs
libevent2/Makefile
libevent2/config.h
libevent2/config.log
libevent2/config.status
libevent2/include/Makefile
libevent2/include/event2/event-config.h
libevent2/libtool
libevent2/sample/Makefile
libevent2/sample/dns-example
libevent2/sample/event-test
libevent2/sample/hello-world
libevent2/sample/http-server
libevent2/sample/signal-test
libevent2/sample/time-test
libevent2/samsung-build.sh~
libevent2/stamp-h1
libevent2/build.sh
libevent2/test/.deps
libevent2/test/Makefile
libevent2/test/bench
libevent2/test/bench_cascade
libevent2/test/bench_http
libevent2/test/bench_httpclient
libevent2/test/regress
libevent2/test/rpcgen-attempted
libevent2/test/test-changelist
libevent2/test/test-eof
libevent2/test/test-init
libevent2/test/test-ratelim
libevent2/test/test-time
libevent2/test/test-weof
libevent2/autom4te.cache/
libevent2/sample/.libs/
libevent2/test/.libs/
swift/-t
swift/swift

