#SceneDownloads {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 1920px;
    height : 1080px;
}

#normalButton02 {
    position: absolute;
    left: 600px;
    top: 75px;
    width:300px;
}

#normalButton12 {
    position: absolute;
    left: 600px;
    top: 175px;
    width:300px;
}

#labelFilename {
    position:absolute;
    left:900px;
    top: 75px;
    width: 300px;
	height: 75px;
}

#labelDownload {
     position:absolute;
    left:900px;
    top: 75px;
    width: 300px;
	height: 75px;
}

#labelProgress {
    position:absolute;
    left:900px;
    top: 75px;
    width: 300px;
	height: 75px;
}

#labelProgress0 {
    position:absolute;
    left:900px;
    top: 150px;
    width: 300px;
	height: 75px;
}

#progress12{
	position : absolute;
	left : 900px;
	top : 150px;
	width : 400px;
	height : 37px;
}