body {
	font-size: 27px;
}

#SceneMain {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 1080px;
}

#MainBG {
	position: absolute;
	left: 0px;
	top: 0px;
}

#title {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 27px;
}

#category {
	position: absolute;
	left: 75px;
	top: 105px;
	width: 390px;
	height: 450px;
}

#Main_keyhelp {
	z-index: 1;
}

#main_info {
	position: absolute;
	left: 0px;
	top: 30px;
	font-size: 27px;
}

#MainListPage {
	position: absolute;
	left: 75px;
	top: 960px;
	font-size: 27px;
}

#labelVideo {
	position: absolute;
	left: 320px;
    top: 122px;
    width: 300px;
}

#labelRedirect {
	position: absolute;
	left: 320px;
    top: 152px;
    width: 300px;
}
