#ScenePlayer {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 1920px;
    height : 1080px;
}

#lstPlayer {
    position : absolute;
    left: 480px;
	top: 105px;
    width: 570px;
	height: 750px;
}

#PlayerEventTitle {
    position : absolute;
    left: 1050px;
    top: 780px;
    width: 750px;
	height: 45px;
}
#PlayerEvent {
    position : absolute;
    left: 1050px;
    top: 825px;
    width: 750px;
	height: 150px;
	border: 1px solid #0000ff;
	overflow: hidden;
}
#PlayerNoti {
    position : absolute;
    left: 480px;
    top: 600px;
    width: 570px;
	
	color: red;
	font-size: 27px;
}

#image {
    position: absolute;
    left: 20px;
    top: 20px;
	width: 108px;
	height: 102px;
    display:none;
}

#label {
	position: absolute;
	left: 20px;
    top: 122px;
    width: 300px;
}

#Player_keyhelp {
	z-index: 1;
}
