
body {
	width: 960px;
	height: 540px;
	background-image:url('../images/background2.jpg');
	background-position:center;
	background-repeat:no-repeat;
}

#main {
	position: absolute;
	left: 0px; top: 0px;
	width: 960px; height: 540px;
}

#rightHalf {
	position: absolute;
	left: 420px; top: 0px;
	width: 540px; height: 540px;
}

#output {
	position: absolute;
	left: 430px; top: 0px
	width: 500px; height: 540px;
}

#leftHalf {
	position:absolute;
	left: 0px; top:0px;
	width:420px; height:540px;
	background-color: white;
}

#prevPage {
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	left:180px; top:80px; 
	width: 390px; height:20px;
}

#nextPage {
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	left:190px; top:500px; 
	width: 390px; height:20px;
}

#fileList {
	position:absolute;
	left:30px; top:100px; 
	width: 390px; height:430px;
}

#one {
	position:absolute;
	left:0px; top:100px; 
	width: 30px; height:30px;
}

#two {
	position:absolute;
	left:0px; top:130px; 
	width: 30px; height:30px;
}

#three {
	position:absolute;
	left:0px; top:160px; 
	width: 30px; height:30px;
}

#four {
	position:absolute;
	left:0px; top:190px; 
	width: 30px; height:30px;
}

#five {
	position:absolute;
	left:0px; top:210px; 
	width: 30px; height:30px;
}

#six {
	position:absolute;
	left:0px; top:240px; 
	width: 30px; height:30px;
}

#seven {
	position:absolute;
	left:0px; top:270px; 
	width: 30px; height:30px;
}

#eight {
	position:absolute;
	left:0px; top:300px; 
	width: 30px; height:30px;
}

#nine {
	position:absolute;
	left:0px; top:330px; 
	width: 30px; height:30px;
}

#scroll {
	position:absolute;
	left:30px; top:55px; 
	width: 390px; height:430px;
}
