#SceneScene1 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #ffffff;
	background-image : url('../../images/bg1.jpg');
}

#SceneScene1 #svecButton_ZPQO{
	position : absolute;
	left : 230px;
	top : 280px;
	width : 200px;
	height : 37px;
}

#SceneScene1 #svecLabel_G6NW{
	position : absolute;
	font-family : arial;
	font-size : 30pt;
	color : #0000ff;
	left : 270px;
	top : 130px;
	width : 431px;
	height : 37px;
}

#SceneScene1 #svecButton_AVN3{
	position : absolute;
	left : 230px;
	top : 380px;
	width : 200px;
	height : 37px;
}

#SceneScene1 #svecButton_NYCS{
	position : absolute;
	left : 500px;
	top : 280px;
	width : 200px;
	height : 37px;
}

#SceneScene1 #svecButton_FJM6{
	position : absolute;
	left : 500px;
	top : 380px;
	width : 200px;
	height : 37px;
}

#SceneScene1 #progress1{
	position : absolute;
	left : 465px;
	top : 454px;
	width : 400px;
	height : 37px;
}

