#SceneDownloads {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
}

#SceneDownloads #ratio_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 310px;
	top : 480px;
	width : 120px;
}

#SceneDownloads #total_up_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 440px;
	top : 480px;
	width : 40px;
}

#SceneDownloads #init_total_up{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 480px;
	top : 480px;
	width : 30px;
}

#SceneDownloads #total_down_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 550px;
	top : 480px;
	width : 40px;
}

#SceneDownloads #init_total_down{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 590px;
	top : 480px;
	width : 30px;
}

#SceneDownloads #progress_download0 {
	position : absolute;
    left: 330px;
    top: 50px;
    width: 600px;
}

#SceneDownloads #progress_download1 {
	position : absolute;
    left: 330px;
    top: 140px;
    width: 600px;
}

#SceneDownloads #progress_download2 {
	position : absolute;
    left: 330px;
    top: 230px;
    width: 600px;
}

#SceneDownloads #progress_download3 {
	position : absolute;
    left: 330px;
    top: 320px;
    width: 600px;
}

#SceneDownloads #progress_download4 {
	position : absolute;
    left: 330px;
    top: 410px;
    width: 600px;
}

/*
Download 1 START
*/
#SceneDownloads #00_download_name{
	position : absolute;
	font-size : 12pt;
	color : #ffffff;
	left : 310px;
	top : 10px;
	width : 200px;
}

#SceneDownloads #00_download_hash{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 10px;
	width : 400px;
}

#SceneDownloads #00_download_completed{
	position : absolute;
	font-size : 10pt;
	text-align: right;
	color : #ffffff;
	left : 310px;
	top : 70px;
	width : 70px;
}

#SceneDownloads #00_download_size{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 390px;
	top : 70px;
	width : 70px;
}

#SceneDownloads #00_download_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 450px;
	top : 70px;
	width : 70px;
}

#SceneDownloads #00_download_status{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 330px;
	top : 30px;
	width : 30px;
}

#SceneDownloads #00_download_dspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 30px;
	width : 80px;
}

#SceneDownloads #00_download_uspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 445px;
	top : 30px;
	width : 80px;
}
/* seeders */
#SceneDownloads #00_download_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 590px;
	top : 30px;
	width : 80px;
}
/* peers */
#SceneDownloads #00_download_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 660px;
	top : 30px;
	width : 80px;
}

#SceneDownloads #00_download_separator{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 70px;
	width : 20px;
}

#SceneDownloads #00_download_num_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 645px;
	top : 30px;
	width : 50px;
}

#SceneDownloads #00_download_num_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 705px;
	top : 30px;
	width : 60px;
}

#SceneDownloads #00_download_eta{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 560px;
	top : 70px;
	width : 100px;
}

#SceneDownloads #00_download_time_remaining{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 70px;
	width : 40px;
}

#SceneDownloads #00_download_uspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 470px;
	top : 30px;
	width : 80px;
}

#SceneDownloads #00_download_dspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 405px;
	top : 30px;
	width : 80px;
}

#SceneDownloads #00_download_num_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 455px;
	top : 70px;
	width : 40px;
}

#SceneDownloads #00_download_percentage{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 485px;
	top : 70px;
	width : 40px;
}

/*
	Download 2 START
*/
/* name label */
#SceneDownloads #01_download_name{
	position : absolute;
	font-size : 12pt;
	color : #ffffff;
	left : 310px;
	top : 100px;
	width : 200px;
}

/* root hash label */
#SceneDownloads #01_download_hash{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 100px;
	width : 400px;
}
/* complete label */
#SceneDownloads #01_download_completed{
	position : absolute;
	font-size : 10pt;
	text-align: right;
	color : #ffffff;
	left : 310px;
	top : 160px;
	width : 70px;
}

/* size label */
#SceneDownloads #01_download_size{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 390px;
	top : 160px;
	width : 70px;
}

/* ( label */
#SceneDownloads #01_download_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 450px;
	top : 160px;
	width : 70px;
}


/* status label */
#SceneDownloads #01_download_status{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 330px;
	top : 120px;
	width : 30px;
}

/* DL: label */
#SceneDownloads #01_download_dspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 120px;
	width : 80px;
}

/* UL: label */
#SceneDownloads #01_download_uspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 445px;
	top : 120px;
	width : 120px;
}

/* seeders: label */
#SceneDownloads #01_download_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 590px;
	top : 120px;
	width : 80px;
}

/* peers: label */
#SceneDownloads #01_download_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 660px;
	top : 120px;
	width : 80px;
}

/* / label */
#SceneDownloads #01_download_separator{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 160px;
	width : 20px;
}

/* seeders label */
#SceneDownloads #01_download_num_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 645px;
	top : 120px;
	width : 50px;
}

/* peers label */
#SceneDownloads #01_download_num_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 705px;
	top : 120px;
	width : 60px;
}

/* remaining label */
#SceneDownloads #01_download_eta{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 560px;
	top : 160px;
	width : 100px;
}

/* time label */
#SceneDownloads #01_download_time_remaining{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 160px;
	width : 40px;
}

/* down speed label */
#SceneDownloads #01_download_uspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 470px;
	top : 120px;
	width : 80px;
}

/* up speed label */
#SceneDownloads #01_download_dspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 405px;
	top : 120px;
	width : 80px;
}

/* progress label */
#SceneDownloads #01_download_num_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 455px;
	top : 160px;
	width : 40px;
}

/* ) label */
#SceneDownloads #01_download_percentage{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 485px;
	top : 160px;
	width : 40px;
}

/* 
	Download 3 START 
*/

/* name label */
#SceneDownloads #02_download_name{
	position : absolute;
	font-size : 12pt;
	color : #ffffff;
	left : 310px;
	top : 190px;
	width : 200px;
}

/* root hash label */
#SceneDownloads #02_download_hash{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 190px;
	width : 400px;
}

/* complete label */
#SceneDownloads #02_download_completed{
	position : absolute;
	font-size : 10pt;
	text-align: right;
	color : #ffffff;
	left : 310px;
	top : 250px;
	width : 70px;
}

/* size label */
#SceneDownloads #02_download_size{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 390px;
	top : 250px;
	width : 70px;
}

/* ( label */
#SceneDownloads #02_download_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 450px;
	top : 250px;
	width : 70px;
}

#SceneDownloads #02_download_eta{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 560px;
	top : 250px;
	width : 100px;
}

#SceneDownloads #02_download_status{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 330px;
	top : 210px;
	width : 30px;
}

#SceneDownloads #02_download_dspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 210px;
	width : 80px;
}

#SceneDownloads #02_download_uspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 445px;
	top : 210px;
	width : 80px;
}

#SceneDownloads #02_download_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 590px;
	top : 210px;
	width : 80px;
}

#SceneDownloads #02_download_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 660px;
	top : 210px;
	width : 80px;
}

#SceneDownloads #02_download_separator{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 250px;
	width : 20px;
}

#SceneDownloads #03_download_name{
	position : absolute;
	font-size : 12pt;
	color : #ffffff;
	left : 310px;
	top : 280px;
	width : 200px;
}

#SceneDownloads #03_download_hash{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 280px;
	width : 400px;
}

#SceneDownloads #03_download_completed{
	position : absolute;
	font-size : 10pt;
	text-align: right;
	color : #ffffff;
	left : 310px;
	top : 340px;
	width : 70px;
}

#SceneDownloads #03_download_size{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 390px;
	top : 340px;
	width : 70px;
}

#SceneDownloads #03_download_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 450px;
	top : 340px;
	width : 70px;
}

#SceneDownloads #03_download_eta{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 560px;
	top : 340px;
	width : 100px;
}

#SceneDownloads #03_download_status{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 330px;
	top : 300px;
	width : 30px;
}

#SceneDownloads #03_download_dspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 300px;
	width : 80px;
}

#SceneDownloads #03_download_uspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 445px;
	top : 300px;
	width : 80px;
}

#SceneDownloads #03_download_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 590px;
	top : 300px;
	width : 80px;
}

#SceneDownloads #03_download_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 660px;
	top : 300px;
	width : 80px;
}

#SceneDownloads #03_download_separator{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 340px;
	width : 20px;
}

#SceneDownloads #04_download_name{
	position : absolute;
	font-size : 12pt;
	color : #ffffff;
	left : 310px;
	top : 370px;
	width : 200px;
}

#SceneDownloads #04_download_hash{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 370px;
	width : 400px;
}

#SceneDownloads #04_download_completed{
	position : absolute;
	font-size : 10pt;
	text-align: right;
	color : #ffffff;
	left : 310px;
	top : 430px;
	width : 70px;
}

#SceneDownloads #04_download_size{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 390px;
	top : 430px;
	width : 70px;
}

#SceneDownloads #04_download_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 450px;
	top : 430px;
	width : 70px;
}

#SceneDownloads #04_download_eta{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 560px;
	top : 430px;
	width : 100px;
}

#SceneDownloads #04_download_status{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 330px;
	top : 390px;
	width : 30px;
}

#SceneDownloads #04_download_dspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 390px;
	width : 80px;
}

#SceneDownloads #04_download_uspeed_label{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 445px;
	top : 390px;
	width : 80px;
}

#SceneDownloads #04_download_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 590px;
	top : 390px;
	width : 80px;
}

#SceneDownloads #04_download_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 660px;
	top : 390px;
	width : 80px;
}

#SceneDownloads #04_download_separator{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 380px;
	top : 430px;
	width : 20px;
}


#SceneDownloads #02_download_num_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 645px;
	top : 210px;
	width : 50px;
}

#SceneDownloads #02_download_num_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 700px;
	top : 210px;
	width : 60px;
}

#SceneDownloads #03_download_num_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 645px;
	top : 300px;
	width : 50px;
}

#SceneDownloads #03_download_num_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 700px;
	top : 300px;
	width : 60px;
}

#SceneDownloads #04_download_num_seeders{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 645px;
	top : 390px;
	width : 50px;
}

#SceneDownloads #04_download_num_peers{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 700px;
	top : 390px;
	width : 60px;
}

#SceneDownloads #02_download_time_remaining{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 250px;
	width : 40px;
}

#SceneDownloads #02_download_uspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 470px;
	top : 210px;
	width : 80px;
}

#SceneDownloads #02_download_dspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 405px;
	top : 210px;
	width : 80px;
}

#SceneDownloads #02_download_num_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 455px;
	top : 250px;
	width : 40px;
}

#SceneDownloads #02_download_percentage{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 485px;
	top : 250px;
	width : 40px;
}

#SceneDownloads #03_download_time_remaining{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 340px;
	width : 40px;
}

#SceneDownloads #03_download_uspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 470px;
	top : 300px;
	width : 80px;
}

#SceneDownloads #03_download_dspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 405px;
	top : 300px;
	width : 80px;
}

#SceneDownloads #03_download_num_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 455px;
	top : 340px;
	width : 40px;
}

#SceneDownloads #03_download_percentage{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 485px;
	top : 340px;
	width : 40px;
}

#SceneDownloads #04_download_time_remaining{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 530px;
	top : 430px;
	width : 40px;
}

#SceneDownloads #04_download_uspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 470px;
	top : 390px;
	width : 80px;
}

#SceneDownloads #04_download_dspeed{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 405px;
	top : 390px;
	width : 80px;
}

#SceneDownloads #04_download_num_progress{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 455px;
	top : 430px;
	width : 40px;
}

#SceneDownloads #04_download_percentage{
	position : absolute;
	font-size : 10pt;
	color : #ffffff;
	left : 485px;
	top : 430px;
	width : 40px;
}

#pause_image {
	position : absolute;
	left : 320px;
	top : 30px;
	width : 28px;
	height : 28px;
	display : none;
}

#SceneDownloads #download_holder0 {
	position : absolute;
	left : 265px;
	top : 0px;
	width: 690px;
	height: 85px;
	border-width: 2px;
	border-bottom-style:groove;
	border-top-style:groove;
	border-left-style:groove;
	border-right-style:groove;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
}

#SceneDownloads #download_holder1 {
	position : absolute;
	left : 265px;
	top : 89px;
	width: 690px;
	height: 85px;
	border-width: 2px;
	border-bottom-style:groove;
	border-top-style:groove;
	border-left-style:groove;
	border-right-style:groove;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
}
#SceneDownloads #download_holder2 {
	position : absolute;
	left : 265px;
	top : 178px;
	width: 690px;
	height: 85px;
	border-width: 2px;
	border-bottom-style:groove;
	border-top-style:groove;
	border-left-style:groove;
	border-right-style:groove;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
}
#SceneDownloads #download_holder3 {
	position : absolute;
	left : 265px;
	top : 267px;
	width: 690px;
	height: 85px;
	border-width: 2px;
	border-bottom-style:groove;
	border-top-style:groove;
	border-left-style:groove;
	border-right-style:groove;
	border-bottom-color: #000000;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
}
#SceneDownloads #download_holder4 {
	position : absolute;
	left : 265px;
	top : 356px;
	width: 690px;
	height: 85px;
	border-width: 2px;
	border-bottom-style:groove;
	border-top-style:groove;
	border-left-style:groove;
	border-right-style:groove;
	border-bottom-color: #e6e6fa;
	border-top-color: #e6e6fa;
	border-left-color: #e6e6fa;
	border-right-color: #e6e6fa;
}

