body {
	font-size: 13px;
}

#SceneMain {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 960px;
	height: 540px;
}

#app_layout {
	position: absolute;
	left: 0px;
	top: 0px;
}

#scene_list {
	position: absolute;
	left: 37px;
	top: 48px;
	width: 195px;
	height: 225px;
}

#label {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 300px;
}

#label_video {
	position: absolute;
	left: 320px;
	top: 122px;
	width: 300px;
}

#label_redirect {
	position: absolute;
	left: 320px;
	top: 152px;
	width: 300px;
}

#is_downloading {
	position: absolute;
	left: 320px;
	top: 182px;
	width: 300px;
}

#popupExit {
	width: 300px;
}

#keyhelp_bar {
	z-index: 1;
}

#MainListPage {
	position: absolute;
	left: 37px;
	top: 480px;
	font-size: 13px;
}

#background_image {
    position: absolute;
    left: 450px;
    top: 80px;
	width: 324px;
	height: 306px;
    display:none;
}
