body {
	font-size: 13px;
}

#SceneMain {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 960px;
	height: 540px;
}

#MainBG {
	position: absolute;
	left: 0px;
	top: 0px;
}

#title {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 13px;
}

#category {
	position: absolute;
	left: 37px;
	top: 150px;
	width: 195px;
	height: 225px;
}

#image {
    position: absolute;
    left: 20px;
    top: 20px;
	width: 108px;
	height: 102px;
    display:none;
}

#label {
	position: absolute;
	left: 20px;
    top: 122px;
    width: 300px;
}

#labelVideo {
	position: absolute;
	left: 320px;
    top: 122px;
    width: 300px;
}

#labelRedirect {
	position: absolute;
	left: 320px;
    top: 152px;
    width: 300px;
}

#labelDownloading {
	position: absolute;
	left: 320px;
    top: 182px;
    width: 300px;
}

#popupExit {
    width:300px;
}

#Main_keyhelp {
	z-index: 1;
}

#main_info {
	position: absolute;
	left: 0px;
	top: 15px;
	font-size: 13px;
}

#MainListPage {
	position: absolute;
	left: 37px;
	top: 480px;
	font-size: 13px;
}
