#SceneSettings {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 960px;
    height : 540px;
}

#debug_label {
    position:absolute;
    left:275px;
    top: 60px;
    width: 200px;
	height: 75px;
}

#debug_toggle {
	position:absolute;
    left:475px;
    top: 50px;
}

#upspeed_limit_label {
    position:absolute;
    left:275px;
    top: 135px;
    width: 200px;
	height: 75px;
}

#upspeed_limit_toggle {
	position:absolute;
    left:475px;
    top: 125px;
}

#upspeed_limit_value {
    position:absolute;
    left:650px;
    top: 135px;
}

#downspeed_limit_label {
    position:absolute;
    left:275px;
    top: 210px;
    width: 200px;
	height: 75px;
}

#downspeed_limit_toggle {
	position:absolute;
    left:475px;
    top: 200px;
}

#downspeed_limit_value {
    position:absolute;
    left:650px;
    top: 210px;
}

#ratio_limit_label {
    position:absolute;
    left:275px;
    top: 285px;
    width: 200px;
	height: 75px;
}

#popup {
    position:absolute;
    left:475px;
    top: 275px;
}

#ratio_limit_value {
    position:absolute;
    left:650px;
    top: 275px;
}

#download_path_label {
    position:absolute;
    left:275px;
    top: 350px;
    width: 200px;
	height: 75px;
}

#ratio_limit_toggle {
    position:absolute;
    left:475px;
    top: 275px;
}

#download_path_value {
    position:absolute;
    left:650px;
    top: 350px;
}

#browseButton {
    position:absolute;
    left:475px;
    top: 340px;
	width:150px;
}

#input{
	position : absolute;
	left : 275px;
	top : 90px;
	width : 140px;
}
