#SceneStart {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 960px;
    height : 540px;
}

#startimage {
    position: absolute;
    left: 450px;
    top: 80px;
	width: 324px;
	height: 306px;
    display:none;
}