#SceneBrowse {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 1280px;
    height : 720px;
}

#normalButton0 {
    position: absolute;
    left: 400px;
    top: 50px;
    width:200px;
}

#normalButton1 {
    position: absolute;
    left: 400px;
    top: 150px;
    width:200px;
}

#labelUSB {
    position:absolute;
    left:600px;
    top: 50px;
    width: 200px;
	height: 75px;
}

#progress1{
	position : absolute;
	left : 600px;
	top : 150px;
	width : 400px;
	height : 37px;
}