#SceneDownloads {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 1280px;
    height : 720px;
}

#normalButton02 {
    position: absolute;
    left: 400px;
    top: 50px;
    width:200px;
}

#normalButton12 {
    position: absolute;
    left: 400px;
    top: 150px;
    width:200px;
}

#labelDownload {
    position:absolute;
    left:600px;
    top: 50px;
    width: 200px;
	height: 75px;
}

#labelFilename {
    position:absolute;
    left:600px;
    top: 50px;
    width: 200px;
	height: 75px;
}

#labelProgress {
    position:absolute;
    left:600px;
    top: 50px;
    width: 200px;
	height: 75px;
}

#labelProgress0 {
    position:absolute;
    left:600px;
    top: 125px;
    width: 200px;
	height: 75px;
}

#progress12{
	position : absolute;
	left : 600px;
	top : 125px;
	width : 400px;
	height : 37px;
}