#ScenePlayer {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 1280px;
    height : 720px;
}

#lstPlayer {
    position : absolute;
    left: 320px;
	top: 70px;
    width: 380px;
	height: 500px;
}

#PlayerEventTitle {
    position : absolute;
    left: 700px;
    top: 520px;
    width: 500px;
	height: 30px;
}
#PlayerEvent {
    position : absolute;
    left: 700px;
    top: 550px;
    width: 500px;
	height: 100px;
	border: 1px solid #0000ff;
	overflow: hidden;
}
#PlayerNoti {
    position : absolute;
    left: 320px;
    top: 400px;
    width: 380px;
	
	color: red;
	font-size: 18px;
}

#image {
    position: absolute;
    left: 20px;
    top: 20px;
	width: 108px;
	height: 102px;
    display:none;
}

#label {
	position: absolute;
	left: 20px;
    top: 122px;
    width: 300px;
}

#Player_keyhelp {
	z-index: 1;
}