#SceneSettings {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 1280px;
    height : 720px;
}

#labelSetting0 {
    position:absolute;
    left:600px;
    top: 50px;
    width: 200px;
	height: 75px;
}

#toggleButton0 {
    position:absolute;
    left:800px;
    top: 50px;
    width: 200px;
	height: 75px;
}

#labelSetting1 {
    position:absolute;
    left:600px;
    top: 125px;
    width: 200px;
	height: 75px;
}

#toggleButton1 {
    position:absolute;
    left:800px;
    top: 125px;
    width: 200px;
	height: 75px;
}

#labelSetting2 {
    position:absolute;
    left:600px;
    top: 200px;
    width: 200px;
	height: 75px;
}

#toggleButton2 {
	position:absolute;
    left:800px;
    top: 200px;
    width: 200px;
	height: 75px;
}

#labelSetting3 {
    position:absolute;
    left:600px;
    top: 275px;
    width: 200px;
	height: 75px;
}

#toggleButton3 {
	position:absolute;
    left:800px;
    top: 275px;
    width: 200px;
	height: 75px;
}

#labelSetting4 {
    position:absolute;
    left:600px;
    top: 350px;
    width: 200px;
	height: 75px;
}

#toggleButton4 {
    position:absolute;
    left:800px;
    top: 350px;
    width: 200px;
	height: 75px;
}
